<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Site.Title }}</title>
  <link rel="icon" type="image/ico" href="{{ .Site.BaseURL }}image/ryan.ico" />
  <link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet" type="text/css" />

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Raleway:300,400,700&display=swap" rel="stylesheet">

  <!-- Awesome Font icon -->
  <script src="https://kit.fontawesome.com/124f662a33.js" crossorigin="anonymous"></script>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
